<hr>

<div class="container">
  <p> Single row, what we want it to look like</p>
  <div class="row">
    <div class="col-sm-2 outline">
      Sidebar
    </div>
    <div class="col-sm-2 outline">
      col-sm-2
    </div>
    <div class="col-sm-8 outline">
      col-sm-10
    </div>
  </div>
</div>
<!-- 

<hr>



<div class="container">
<p> Nested grid with inner col-sm-2 and col-sm-8 </p>
  <div class="row">
    <div class="col-sm-2 outline">
      Sidebar
    </div>
    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-2 outline">
          nested
          col-sm-2
        </div>
        <div class="col-sm-8 outline">
          nested
          col-sm-8
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="container">
<p> Nested grid with inner col-sm-2 and col-sm-10 </p>
  <div class="row">
    <div class="col-sm-2 outline">
      Sidebar
    </div>
    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-2 outline">
          nested
          col-sm-2
        </div>
        <div class="col-sm-10 outline">
          nested
          col-sm-10
        </div>
      </div>
    </div>
  </div>
</div>

<hr>


<div class="container">
  <p> Nested grid with inner col-sm-3 and col-sm-9 </p>
  <div class="row">
    <div class="col-sm-2 outline">
      Sidebar
    </div>
    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-3 outline">
          nested
          col-sm-3
        </div>
        <div class="col-sm-9 outline">
          nested
          col-sm-9
        </div>
      </div>
    </div>
  </div>
</div>
-->
<hr>

<div class="container">
  <p>Pass one at our semantic classes</p>
  <div class="main_body">
    <div class="sidebar outline">
      Sidebar
    </div>
    <div class="main_content">
      <div class="item">
        <div class="avatars outline">
          avatar area
        </div>
        <div class="content outline">
          content area
        </div>
      </div>
      <div class="item">
        <div class="avatars outline">
          avatar area
        </div>
        <div class="content outline">
          content area
        </div>
      </div>
    </div>
  </div>
</div>