@import 'bootstrap-sprockets';
@import 'bootstrap';

// So we can see what's going on
body {
  background: #aaa;
}

// Round the borders
.dropdown-menu {
  border-radius: 10px;
  border: none;
}

// Add an arrow
.dropdown-menu.arrow {
  top: 45px;

  &:before{
    content: "";
    position: absolute;
    display: block;
    width: 37px;
    height: 12px;
    top: -12px;
    left: 66px;
    background-image: image-url( 'dropdowns/arrow_top.png' );      
  }
}

// Add CSS Transitions
.open > .zoom.dropdown-menu {
  transform: scale(1, 1);  
  
}

.zoom.dropdown-menu {
  transform-origin: top;
  animation-fill-mode: forwards; 
  transform: scale( 0, 0 );
  display: block;
  
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.320, 1.3); //ease-out;
}