@import 'bootstrap-sprockets';
@import 'bootstrap';

.content {
  @extend .col-sm-10;
}

.sidebottom {
  @extend .col-sm-2;

  li {
    text-align: center;
    a {
      font-size: 18px;
      span {
        font-size: 45px;
      }
    }
  }

  @media (max-width: $screen-sm-min) {
    background: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    li {
      display: inline-block;
      text-align: center;
      width: 24%;
      a {
        font-size: 12px;
        span {
          font-size: 22px;
        }
      }
    }
  }
}

@media (max-width: $screen-sm-min) {
  body {
    padding-top: 50px;
    padding-bottom: 26px;
  }

  nav {
    background: white;
    h1 {
      padding-top: 0px;
      margin-top: 5px;

    }
  }
}
