<nav class="navbar navbar-fixed-top visible-xs">
  <div class="container-fluid">
    <div class="row">
      <h1>It's the roof!</h1>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="content">
      <div class="row">
        <div class="col-lg-4 col-md-5"><img src="http://placehold.it/400x200" class="img-responsive"></div>
        <div class="col-lg-8 col-md-7"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget sem ut ex commodo dapibus. Aenean pretium ac augue ornare tincidunt. Fusce vitae placerat turpis. Aenean sollicitudin mi in malesuada tincidunt. Maecenas a malesuada leo. Nunc sodales, diam sit amet efficitur blandit, est risus maximus orci, ut facilisis justo magna ut eros. Morbi nunc nisl, ornare eget tincidunt a, varius eu tortor. Sed eget nibh ac mi suscipit semper vel nec risus. Nullam iaculis enim sed velit consequat, vitae cursus tellus suscipit. Donec vitae elementum leo. Sed fringilla volutpat dui et elementum. Quisque egestas nisl eget libero auctor dapibus.</p></div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-5"><img src="http://placehold.it/400x200" class="img-responsive"></div>
        <div class="col-lg-8 col-md-7"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget sem ut ex commodo dapibus. Aenean pretium ac augue ornare tincidunt. Fusce vitae placerat turpis. Aenean sollicitudin mi in malesuada tincidunt. Maecenas a malesuada leo. Nunc sodales, diam sit amet efficitur blandit, est risus maximus orci, ut facilisis justo magna ut eros. Morbi nunc nisl, ornare eget tincidunt a, varius eu tortor. Sed eget nibh ac mi suscipit semper vel nec risus. Nullam iaculis enim sed velit consequat, vitae cursus tellus suscipit. Donec vitae elementum leo. Sed fringilla volutpat dui et elementum. Quisque egestas nisl eget libero auctor dapibus.</p></div>
      </div>
    </div>

    <div class="sidebottom">
      <ul class="nav">
        <li><a href="#"><span class="glyphicon glyphicon-home"></span><br/>Home</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-user"></span><br/>Profile</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-flag"></span><br/>Flagged</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-star"></span><br/>Starred</a></li>
      </ul>
    </div>
  </div>
</div>