<div class="container">
  <h1>Dropdown example <small>Basic</small></h1>

  <div class="dropdown">
    <a class="btn btn-default" role="button" data-toggle="dropdown" href="#">Dropdown <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a tabindex="-1" href="#">Action</a></li>
      <li><a tabindex="-1" href="#">Another action</a></li>
      <li class="disabled"><a tabindex="-1" href="#">Disabled action</a></li>
      <li><a tabindex="-1" href="#">Something else here</a></li>
      <li class="divider"></li>
      <li><a tabindex="-1" href="#">Separated link</a></li>
    </ul>
  </div>

  <h1>Dropdown example <small>Right side</small>

  <div class="dropdown pull-right">
    <a class="btn btn-default" role="button" data-toggle="dropdown" href="#">Dropdown <span class="caret"></span></a>
    <ul class="dropdown-menu dropdown-menu-right">
      <li><a tabindex="-1" href="#">Action</a></li>
      <li><a tabindex="-1" href="#">Another action</a></li>
      <li class="disabled"><a tabindex="-1" href="#">Disabled action</a></li>
      <li><a tabindex="-1" href="#">Something else here</a></li>
      <li class="divider"></li>
      <li><a tabindex="-1" href="#">Separated link</a></li>
    </ul>
  </div>
</div>