<div class="container">
  <h1>Dropdown example <small>rounded</small></h1>

  <div class="dropdown pull-left">
    <a class="btn btn-default" role="button" data-toggle="dropdown" href="#">Dropdown Normal<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a tabindex="-1" href="#">Action</a></li>
      <li><a tabindex="-1" href="#">Another action</a></li>
      <li class="disabled"><a tabindex="-1" href="#">Disabled action</a></li>
      <li><a tabindex="-1" href="#">Something else here</a></li>
      <li class="divider"></li>
      <li><a tabindex="-1" href="#">Separated link</a></li>
    </ul>
  </div>

  <div class="dropdown pull-left">
    <a class="btn btn-default" role="button" data-toggle="dropdown" href="#">Dropdown Arrow<span class="caret"></span></a>
    <ul class="dropdown-menu arrow">
      <li><a tabindex="-1" href="#">Action</a></li>
      <li><a tabindex="-1" href="#">Another action</a></li>
      <li class="disabled"><a tabindex="-1" href="#">Disabled action</a></li>
      <li><a tabindex="-1" href="#">Something else here</a></li>
      <li class="divider"></li>
      <li><a tabindex="-1" href="#">Separated link</a></li>
    </ul>
  </div>

  <div class="dropdown pull-left">
    <a class="btn btn-default" role="button" data-toggle="dropdown" href="#">Dropdown Zoom<span class="caret"></span></a>
    <ul class="dropdown-menu zoom">
      <li><a tabindex="-1" href="#">Action</a></li>
      <li><a tabindex="-1" href="#">Another action</a></li>
      <li class="disabled"><a tabindex="-1" href="#">Disabled action</a></li>
      <li><a tabindex="-1" href="#">Something else here</a></li>
      <li class="divider"></li>
      <li><a tabindex="-1" href="#">Separated link</a></li>
    </ul>
  </div>

  <div class="dropdown pull-left">
    <a class="btn btn-default" role="button" data-toggle="dropdown" href="#">Dropdown Both<span class="caret"></span></a>
    <ul class="dropdown-menu zoom arrow">
      <li><a tabindex="-1" href="#">Action</a></li>
      <li><a tabindex="-1" href="#">Another action</a></li>
      <li class="disabled"><a tabindex="-1" href="#">Disabled action</a></li>
      <li><a tabindex="-1" href="#">Something else here</a></li>
      <li class="divider"></li>
      <li><a tabindex="-1" href="#">Separated link</a></li>
    </ul>
  </div>

</div>